:root {
  --default-bg_color: #17212b;
  --default-button_color: #5288c1;
  --default-button_text_color: #ffffff;
  --default-hint_color: #708499;
  --default-link_color: #6ab3f3;
  --default-text_color: #f5f5f5;
  --tg-secondary-button_color: #31b545;
  --game-cell-size: 86px;
  --game-win-color: #1bd538;
}

.app {
  height: var(--tg-viewport-height);
  background-color: var(--tg-theme-bg-color, var(--default-bg_color));
  color: var(--tg-theme-text-color, var(--default-text_color));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.description {
  color: var(--tg-theme-hint-color, var(--default-hint_color));
}

.message {
  font-size: x-large;
  font-weight: bold;
  margin-top: 1rem;
}

.game {
  margin-top: 0.5rem;
}

.game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.game-board .win {
  color: var(--game-win-color);
}

.game-square {
  height: var(--game-cell-size);
  width: var(--game-cell-size);
  margin: 0.25rem;
  background-color: var(--tg-theme-button-color, var(--default-button_color));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  border-radius: 0.25rem;
  user-select: none;
  cursor: pointer;
  color: var(--tg-theme-button-text-color, var(--default-button_text_color));
}

.game-square:focus-visible {
  outline: 0.15rem solid
    var(--tg-theme-button-text-color, var(--default-button_text_color));
}
